/* Header.css */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;  /* Viewport width로 설정 */
  overflow: hidden;  /* 오버플로우 숨기기 */
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header-video {
  width: 100vw;
  height: 50vh;
  display: block;
  object-fit: cover;
}

.content-container {
  width: 100%;
  padding-top: 20px;
}

.left-content, .center-content, .right-content {
  padding: 0 30px;  /* 각 항목 사이의 간격 조절 */
}

.left-content {
  text-align: left;  /* 좌측 내용 정렬 */
}

.center-content {
  text-align: center;  /* 중앙 내용 정렬 */
}

.right-content {
  text-align: right;  /* 우측 내용 정렬 */
}

body {
  max-width: 800px;
  margin: 0 auto; /* 중앙 정렬 */
}